body{
font-family:Arial;
background:#f0f2f5;
margin:0;
}

.header{
background:#1877f2;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

.container{
max-width:600px;
margin:20px auto;
padding:10px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
margin-bottom:15px;
}

button{
background:#1877f2;
color:white;
border:none;
padding:8px 12px;
border-radius:6px;
cursor:pointer;
margin-top:5px;
}

.disagree{
background:red;
}

.adminBtn{
background:black;
}

.bar{
height:8px;
background:#ddd;
border-radius:10px;
margin-top:5px;
overflow:hidden;
}

.agreeBar{
height:8px;
background:#1877f2;
}

.disagreeBar{
height:8px;
background:red;
}

input,textarea{
width:100%;
padding:10px;
margin-top:5px;
border-radius:8px;
border:1px solid #ccc;
}

.comment{
background:#eee;
padding:5px;
margin-top:5px;
border-radius:5px;
}

.msg{
background:#f1f1f1;
padding:8px;
border-radius:6px;
margin-top:5px;
}